.css-cxmp86 {
  /* width: 100vw !important; */
  /* overflow-x: scroll !important; */
  padding: 33px 24px 126px !important;
}
.css-11mde6h-MuiPaper-root {
  box-shadow: none !important;
  border-radius: 0 !important;
  /* overflow-x: scroll !important; */
}
.css-1i0fomu-MuiDataGrid-root {
  border-width: 0px !important;
}
/* .css-y2cmpr-MuiDataGrid-root {
  border-width: 0px !important;
} */
.css-1ybo9rw-MuiDataGrid-root {
  border-width: 0px !important;
}
.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
}
.css-1ea1xhh-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
}
.css-1dq8nf-MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: transparent !important;
}
/* .css-kga3m3-MuiTableCell-root {
  padding: 14px 16px !important;
} */
/* Add your global styles here */

.table-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  width: 100%;
  padding: 0;
}

.create-button {
  margin-bottom: 16px; /* Adjust margin bottom for spacing */
}

@media (max-width: 600px) {
  .table-container {
    padding: 0 8px; /* Adjust padding for smaller screens */
  }

  .create-button {
    width: 100%; /* Full width button on small screens */
  }
}
.css-1rtad1 {
  --size: calc(max(var(--DataGrid-scrollbarSize), 6px)) !important;
  cursor: pointer;
}

.even-row {
  background-color: rgba(239, 243, 244, 1);
}
/* .css-1ybo9rw-MuiDataGrid-root .MuiDataGrid-container--top [role='row'],
.css-1ybo9rw-MuiDataGrid-root .MuiDataGrid-container--bottom [role='row'] {
  background-color: rgba(239, 243, 244, 1) !important;
} */
> .css-y2cmpr-MuiDataGrid-root .MuiDataGrid-container--top [role='row'] {
  background-color: rgba(239, 243, 244, 1) !important;
  color: rgba(153, 153, 153, 1) !important;
}
/* .booking .css-bf1e45-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 34px 8px 2px !important;
  font-size: 14px !important;
} */
/* .booking .css-12xyozp-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px 34px 8px 2px !important;
  font-size: 14px !important;
} */
/* .booking .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 9px 34px 9px 2px !important;
  font-size: 14px !important;
}
.booking .css-p51h6s-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 9px 34px 9px 2px !important;
  font-size: 14px !important;
} */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: 2px 2px #eff3f4 !important;
  font-size: 14px;
  border-radius: 5px;
}
