.css-1tfeiaa-MuiTypography-root {
  font-size: 14px !important;
}
.css-4suu3d-MuiButtonBase-root-MuiIconButton-root {
  cursor: pointer !important;
}
.css-sut5gp-MuiPaper-root-MuiDrawer-paper {
  width: 80% !important;
}
